<section class="services-section" id="contactSection">
  <div class="services-overlay"></div>
  <div class="container">
    <h2>Contacts</h2>
    <div class="contacts">
      <img src="../../../../assets/images/viber.svg" alt="viber">
      <img src="../../../../assets/images/telegram-logo.svg" alt="telegram">
      <img src="../../../../assets/images/whatsapp.svg" alt="whatsapp">
    </div>
    <h4>+38 098 015 64 56</h4>
    <p class="contacts-skype"> <img src="../../../../assets/images/skype.svg" alt="skype"> lrightstackl</p>
    <a class="contacts-email" href="mailto:info@right-stack.com">info@right-stack.com</a>
    <span class="copyright">Right-Stack Technologies &copy; 2018</span>
  </div>
</section>
