@import '../../../../scss/app';

h2 {
  &:after {
    margin-left: -98px;
  }
}

section {
  background-color: rgba(211, 211, 211, 0.14);
  margin-bottom: 140px;
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    @include respond-to($p770) {
      height: 100%;
    }
    @include respond-to($p480) {
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }
  @include respond-to($p770) {
    height: 100%;
    margin-bottom: 40px;
  }
}

.blocks {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  max-width: 1000px;
  .block {
    cursor: pointer;
    border: 1px solid $main-color;
    margin-top: 30px;
    text-align: center;
    font-family: $OpenSans;
    padding: 10px;
    width: 25%;
    hr {
      margin-top: 10px;
      width: 30%;
      border-top: 0;
      border-bottom: 1px solid $main-color;
    }
    img {
      width: 100%;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      opacity: .6;
      text-align: justify;
      font-size: 14px;
    }
    &:hover {
    background-color: lighten($main-color, 50);
    }
  }
  @include respond-to($p770) {
    flex-direction: column;
    min-width: 10%;
    max-width: 80%;
    width: 100%;
    .block {
      margin: 10px auto;
      width: 80%;
    }
  }
}
