<section class="services-section" id="careerSection">
  <div class="container">
    <h2>career</h2>
    <h4>Become part of the team! </h4>
    <div class="blocks">
      <div class="block">
        <h3>Junior HTML Developer</h3>
        <hr>
        <strong>Requirements: </strong>
        <p>HTML5, CSS3</p>
        <p>JavaScript, jQuery</p>
        <p>Gulp or WebPack</p>
        <p>Responsive Web Design</p>
        <!--<button (click)="openModal('Junior HTML Developer')">Send resume</button>-->
      </div>

      <div class="block">
        <h3>Middle Frontend Developer</h3>
        <hr>
        <strong>Requirements: </strong>
        <p>Angular 2+</p>
        <p>JavaScript, TypeScript</p>
        <p>Websocket, REST API</p>
        <p>Various CMS</p>
        <!--<button (click)="openModal('Middle Frontend Developer')">Send resume</button>-->
      </div>

      <div class="block">
        <h3>Junior NodeJS Developer</h3>
        <hr>
        <strong>Requirements: </strong>
        <p>NodeJS ecosystem</p>
        <p>Express, SDKs, Firebase</p>
        <p>Rest APIs, Stripe API</p>
        <p>SQL and NoSQL databases</p>
        <!--<button (click)="openModal('Junior NodeJS Developer')">Send resume</button>-->
      </div>

    </div>
  </div>
</section>
