<section class="technologies-section" id="technologiesSection">
  <div class="container">
    <h2>technologies</h2>
    <h4>there some short text</h4>
    <br><br>
    <!--<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eaque facere hic minima perferendis-->
      <!--perspiciatis porro quo recusandae ut voluptatum! At, blanditiis dolorum eius laborum nam quisquam rerum tenetur-->
      <!--voluptatibus.</h4>-->
    <!--<br><br>-->
    <!--<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eaque facere hic minima perferendis-->
      <!--perspiciatis porro quo recusandae ut voluptatum! At, blanditiis dolorum eius laborum nam quisquam rerum tenetur-->
      <!--voluptatibus.</h4>-->
  </div>
</section>
