@import '../../../../scss/app';

h2 {
  &:after {
    margin-left: -158px;
  }
}

section {
  height: auto;
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 1200px;
    margin: auto;
    padding: 50px $gutter;
    text-align: center;
    @include respond-to($p480) {
      padding: 0 20px;
    }
  }
}

h3 {
  color: #484848;
  font-size: 22px;
  font-family: $OpenSans;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  color: #484848;
  font-size: 16px;
  margin-top: 20px;
  font-family: $OpenSans;
  font-weight: 500;
  text-align: justify;
  @include respond-to($p480) {
    font-size: 14px;
    text-align: justify;
  }
}
