<section class="technologies-section" id="technologiesSection">
  <div class="container">
    <h2>technologies</h2>
    <!--<p>-->
      <!--Right stack is a combination of software products and programming languages used to create a web or mobile-->
      <!--application.-->
      <!--Our professional team chooses the best combination from rich choice of tech stacks based on the individual-->
      <!--features of your project-->
      <!--considering also inportance to reduce the scope of work and effort required to launch your product, which-->
      <!--eventually reduce your time to market.-->
    <!--</p>-->

    <p>Our passion for developing well-designed, maintainable, and mature software applications for our
      clients, helped us to realize that success always starts with a proper development workflow and stack.</p>

    <div class="icons">
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
    </div>

    <div class="icons">
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-symfony-original-wordmark colored"></i>
    </div>

    <div class="icons">
      <i class="devicon-yii-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-mocha-plain colored"></i>
      <i class="devicon-protractor-plain-wordmark colored"></i>
    </div>


    <!--<p>-->
      <!--Choosing a tech stack will have an impact across various layers of business, including HR, finance, management and-->
      <!--marketing.-->
      <!--That is why we consider the type of your application, time to market, security, scalability and maintainability-->
      <!--requirements-->
      <!--before choosing the backend tech stacks.-->
    <!--</p>-->

    <!--<p>Right-Stack is a software engineering company that provides customized, end-to-end solutions-->
      <!--that drive change to your business. Combining leadership with technical expertise, Right-Stack works with-->
      <!--partners and clients to implement solutions that leverage cutting-edge technology, from idea to development and delivery.-->
      <!--Specializing web and  application development, Right-Stack empowers companies to put technology first.</p>-->
  </div>
</section>
