<section class="technologies-section" id="technologiesSection">
  <div class="container">
    <h2>technologies</h2>

    <h3><strong>Frontend</strong></h3>
    <p>We offer solutions on any of the most popular frameworks: Angular, React, Vue. Most often for commercial solutions, we recommend using latest version of Angular.</p>

    <h3><strong>Backend</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eaque facere hic minima perferendis
      perspiciatis porro quo recusandae ut voluptatum! At, blanditiis dolorum eius laborum nam quisquam rerum tenetur
      voluptatibus.</p>

    <h3><strong>QA</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eaque facere hic minima perferendis
      perspiciatis porro quo recusandae ut voluptatum! At, blanditiis dolorum eius laborum nam quisquam rerum tenetur
      voluptatibus.</p>
  </div>
</section>
