<header class="header-section" id="headerSection">
  <div class="header-container grid">
    <h1>RightStack</h1>
    <h3>we make your life easier</h3>
  </div>
</header>

<!--<app-menu></app-menu>-->

<section class="services-section" id="servicesSection">
  <div class="services-container grid">
    <h2>Services</h2>
  </div>
</section>

<section class="about-section" id="aboutSection">
  <div class="about-container grid">
    <h2>About us</h2>
  </div>
</section>

<section class="technologies-section" id="technologiesSection">
  <div class="technologies-container grid">
    <h2>Technologies</h2>
  </div>
</section>

<section class="career-section" id="careerSection">
  <div class="career-container grid">
    <h2>Career</h2>
  </div>
</section>

<section class="blog-section" id="blogSection">
  <div class="blog-container grid">
    <h2>Blog</h2>
  </div>
</section>

<section class="contact-section" id="contactSection">
  <div class="contact-container grid">
    <h2>Get in touch!</h2>
  </div>
</section>
