@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$main-color: #00e8d3;
$gray-color: #414141;
$green-color: #7bcd85;
$red-color: #f44336;
$background-color: #f7f7f7;
$gutter: 20px;
