<section class="services-section" id="servicesSection">
  <div class="container">
    <h2>services</h2>
    <h4>there some short text</h4>

    <div class="blocks">
      <div class="block">
        <img src="../../../../assets/images/webDev.jpg" alt="web development">
        <hr>
      <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque dolorem doloribus enim ex explicabo, facilis illum ipsa minus nemo nihil, nisi nulla quia quis rem repudiandae suscipit vero.</p>
      </div>

      <div class="block">
        <img src="../../../../assets/images/webDev.jpg" alt="web development">
        <hr>
        <h3>E-Commerce</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque dolorem doloribus enim ex explicabo, facilis illum ipsa minus nemo nihil, nisi nulla quia quis rem repudiandae suscipit vero.</p>
      </div>

      <div class="block">
        <img src="../../../../assets/images/webDev.jpg" alt="web development">
        <hr>
        <h3>Internet Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque dolorem doloribus enim ex explicabo, facilis illum ipsa minus nemo nihil, nisi nulla quia quis rem repudiandae suscipit vero.</p>
      </div>

      <div class="block">
        <img src="../../../../assets/images/webDev.jpg" alt="web development">
        <hr>
        <h3>QA and Support</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque dolorem doloribus enim ex explicabo, facilis illum ipsa minus nemo nihil, nisi nulla quia quis rem repudiandae suscipit vero.</p>
      </div>
    </div>
  </div>
</section>
