<section class="services-section" id="servicesSection">
  <div class="container">
    <h2>services</h2>

    <div class="blocks">
      <div class="block">
        <img src="../../../../assets/images/web1.jpg" alt="web development">
        <hr>
      <h3>Web Development</h3>
        <p>Creation of web applications of any complexity according to your every requirement.The use of advanced technologies to make your product unbeaten from the start.</p>
      </div>

      <div class="block">
        <img src="../../../../assets/images/ecommecre.jpg" alt="web development">
        <hr>
        <h3>E-Commerce</h3>
        <p>Development and maintenance of your online store to boost sales and income together with CRM and ERM systems introduction. </p>
      </div>

      <div class="block">
        <img src="../../../../assets/images/marketing.jpg" alt="web development">
        <hr>
        <h3>Internet Marketing</h3>
        <p>Implementation of best practices to make your product profitable, effective and popular all over the Web using PPC, SMM,and email marketing campaigns at best value. </p>
      </div>

      <div class="block">
        <img src="../../../../assets/images/qa.jpg" alt="web development">
        <hr>
        <h3>QA and Support</h3>
        <p>Top-quality services for your products including manual and unit-testing to gain the bestpossibleperformance. Any necessary support available 24/7.</p>
      </div>
    </div>
  </div>
</section>
