<section class="services-section" id="aboutSection">
  <div class="services-overlay"></div>
  <div class="container">
    <h2>about us</h2>

    <div class="blocks">
      <div class="block">
        <img src="../../../../assets/images/coding.svg" alt="coding">
        <hr>
        <h3>5 years experience</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/team.svg" alt="team">
        <hr>
        <h3>Professional team</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/projection.svg" alt="projection">
        <hr>
        <h3>Guaranteed result</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/medal.svg" alt=" medal">
        <hr>
        <h3>Responsibility for our work</h3>
      </div>
    </div>
    <p>Right-Stack takes the leading positions in the area of development, optimization, and support of high-quality
      software solutions. We keep up with the cutting-edge tools and technologies to make our every product satisfy all
      customers’ needs. <br>We are always here to help you and the scheme of your success is very simple. Once you’ve come
      up with an idea of a solution you’d like to launch, promote and monetize, you should tell us about it. Our experts
      can cope with tasks of any complexity, so you may be sure of 100% success.<br> When we promise you the brilliant
      result, we stand by for our words. Right-Stack team is created in such a way that every expert does their part for
      the best result, and in the end, this synergy of knowledge and experience turns into the fruitful cooperation of
      Right-Stack and the customer, and, what is the most important, in the desired result and prosperity for you!<br><br> A team
      of highly qualified professionals, years of experience and loyalty to our clients throw no doubt that Right-Stack
      becomes the top choice once you need front-rank software solutions. Entrust your product success to us! </p>
  </div>
</section>
