<section class="services-section" id="aboutSection">
  <div class="services-overlay"></div>
  <div class="container">
    <h2>about us</h2>
    <h4>save your and energy</h4>

    <div class="blocks">
      <div class="block">
        <img src="../../../../assets/images/coding.svg" alt="coding">
        <hr>
        <h3>10 years experience</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/team.svg" alt="team">
        <hr>
        <h3>Professional team</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/projection.svg" alt="projection">
        <hr>
        <h3>Guaranteed result</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/medal.svg" alt=" medal">
        <hr>
        <h3>Responsibility for our work</h3>
      </div>
    </div>

    <h5>Компания rightstack занимается разработкой, продвижением, поддержкой  высококачественных програмных продуктов, использая новейшие инструменты и технологии </h5>
    <h5> </h5>
  </div>
</section>
