<section class="services-section" id="aboutSection">
  <div class="services-overlay"></div>
  <div class="container">
    <h2>about us</h2>
    <h4>save your and energy</h4>

    <div class="blocks">
      <div class="block">
        <img src="../../../../assets/images/coding.svg" alt="coding">
        <hr>
        <h3>10 years experience</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/team.svg" alt="team">
        <hr>
        <h3>Professional team</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/projection.svg" alt="projection">
        <hr>
        <h3>Guaranteed result</h3>
      </div>

      <div class="block">
        <img src="../../../../assets/images/medal.svg" alt=" medal">
        <hr>
        <h3>Responsibility for our work</h3>
      </div>
    </div>

    <h5>Rightstack takes the leading positions in the area of development, optimization, and support of high-quality software solutions. We keepup with the cutting-edge tools and technologies to make our everyp roduct satisfy all customer's needs. </h5>
<br>
    <h5>A team of highly qualified professionals, years of experience and loyalty to our clients throw no doubt that RightStack becomes the top choice once you need front-ranks of software solutions. Entrust your product success to us! </h5>
  </div>
</section>
